
body{
    background-color: #EAEDED;
    font-family: sans-serif;
}
.contenar{
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0 20px 0.3px #BDC3C7;
}
ul{
    width: 40%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
ul,li,a{
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
    
}
li{
    transition: all 0.3s;
}

a:hover{
    
    text-decoration: underline;
}
li:active{
    transform:translatey(2px);
}
.cont{
    margin: 0 auto;
}
.span{
    color: #D4AC0D;
    font-size: 50px;
    text-shadow: 5px 5px 10px #D4AC0D;
}
.contenar2{
    width: 300px;
    height: 300px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    /* text-align: center; */
    padding: 25px 0;
    box-shadow: 0 0 10px 0 #797D7F;
}
.img1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    border: 2px dotted red;
}
.paragraf{

    text-align: center; 
    
}
.hed{
    margin: 15px auto;
    width: 50%;
    border-bottom: 2px solid gray;
}
.img2{
    width: 30px;
    height: 30px;
    margin: 10px;
    cursor: pointer;

}
.contenarimg{
    background-color: #EAEDED ;
    text-align: center;
}
.contenar3{
    width: 80%;
    height: 30rem;
    background-color: #ADD8E6;
    margin: auto;
    border-radius: 10px;
   text-align: center;
}
.chail{
    background-color: black;
    height:10px;
    width: 10px;
    border-radius: 50%;
    display:inline-block;
    margin-top: 50px;
    box-shadow: 
    30px 0px,
    15px 18px red,
    1px 40px 0 -3px,
    8px 43px 0 -3px,
    16px 43px 0 -3px,
    25px 40px 0 -3px,
    15px 100px,
    15px 130px,
    15px 150px,
    15px 180px,
    15px 20px 0 30px whitesmoke,
    15px 130px 0 60px whitesmoke,
    15px 230px 0 60px whitesmoke,
    6px 430px 0 210px #D35400;
}
